@model BlogPostViewViewModel


<h1 class="mt-5 h3">@Model.Title</h1>
@if (User.IsInRole("Admin"))
{
    <a href="/post/edit/@Model.PostId">edit</a>
}
<p>
    @Html.Raw(Model.Content)
</p>


@if (Model.Comments.Any())
{
    <h4>Comments</h4>

    @foreach (var comment in Model.Comments)
    {
        <div>
            <span class="small">@comment.CommentDateCreated.ToShortDateString() @comment.CommentDateCreated.ToShortTimeString() - @comment.CommentAuthorUsername</span>
            <p><i>@comment.CommentContent</i></p>
        </div>
    }
}


@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("PostCommentNew", "BlogPost", new { postId = Model.PostId }))
    {

        <div class="form-group">
            <label for="comment" class="h5">Add New Comment</label>
            <textarea rows="5" class="form-control" id="comment" name="comment" style="resize:vertical;"></textarea>
            <small id="commentHelp" class="form-text text-muted">You can add a comment to this blog post.</small>
        </div>

        <div>
            <button class="btn btn-outline-dark">Save Comment</button>
        </div>
    }

}